<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.studyjams.s1.sj46.chenzhongming">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EspressoActivity"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"></activity>
        <activity android:name=".AmericanoActivity"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"></activity>
        <activity android:name=".MacchiatoActivity"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"></activity>
        <activity android:name=".CappuccinoActivity"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"></activity>
        <activity android:name=".MochaActivity"
            android:theme="@style/JK.SwipeBack.Transparent.Theme"></activity>

    </application>

</manifest>